.title{

font-size: 40px;
margin: 40px;
font-family: Verdana, Geneva, Tahoma, sans-serif ;
font-style: normal;
font-weight: bold;
line-height: 50px;
color: #77A2B7;
/* identical to box height, or 42% */

/* display: flex; */
/* align-items: flex-end; */
letter-spacing: -0.1em;


}
.no-address{
    min-height: 465px;
}

.horizontal-line{
    border: 2px solid #77A2B7;

}
.page{
    min-height: 525px;
}

.form-align{
    border: 1px solid #ced4da;
    padding: 10%;
    margin-top: 10%;
    /* margin-bottom: 5%; */
}
.form-align .title{
    margin: 0px 0px 10px 0;
    text-align: left;
}
.note{
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 5%;
}